@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {

  :root {
    --color-flote-kos: 6 100% 94%;
    --color-beige: 42 100% 95%;
    --color-mose-groonn: 202 41% 16%;
    --color-ild-rod: 0 87% 51%;

    --background: var(--color-beige);
    --background-event: var(--color-flote-kos);
    --foreground: var(--color-mose-groonn);
    --card: 0 50% 100%;
    --card-foreground: 0 5% 15%;
    --popover: 0 100% 100%;
    --popover-foreground: 0 100% 10%;
    --primary: var(--color-ild-rod);
    --primary-foreground: 0 0% 100%;
    --secondary: 0 30% 90%;
    --secondary-foreground: 0 0% 0%;
    --muted: -38 30% 95%;
    --muted-foreground: 0 5% 40%;
    --accent: -38 30% 90%;
    --accent-foreground: 0 5% 15%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 0 5% 100%;
    --border: 0 30% 82%;
    --input: 0 30% 50%;
    --ring: 0 87.1% 51.2%;
    --radius: 0;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  h1 {
    font-size: 14vw;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    line-height: 1;
    width: 80vw;
    word-wrap: break-word;
    text-align: center;
    white-space: normal;
  }
  h2 {
    @apply text-3xl;
    font-family: Impact, sans-serif;
  }
  h3 {
    @apply text-2xl;
    font-family: Impact, sans-serif;
  }
  h4 {
    @apply text-xl;
    font-family: Impact, sans-serif;
  }
  h5 {
    @apply text-lg;
    font-family: Impact, sans-serif;
  }
  h6 {
    @apply text-base;
    font-family: Impact, sans-serif;
  }

}