@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-lexik), serif;
}

p {
  @apply md:text-xl;

  a {
    @apply underline hover:no-underline;
  }
}


@layer base {
  :root {
    --color-pyro: #ef1716;
    --color-sintild: #c81919;
    --color-magma: #eb5c5c;
    --color-skarlagenflukt: #ffe4e1;
    --color-blodblush: #ffb6ad;
    --color-skjellett: #ffedeb;
    --color-sort: #1f1f1f;
    --color-illesort: #091115;
    --color-mosemork: #182d39;
    --color-flotekos: #fff8e8;
    --color-neongress: #d4ff26;
    --color-nattpatrulje: #2a4f65;
    --color-skyggejeger: #12222b;
    --color-kraftgronn: #c4f500;
    --color-syrelys: #deff5c;
    --color-stovete-ponker: #efece6;
    --color-hvit: #ffffff;
    --color-havfjas: #58a1b6;

    --background: var(--color-flotekos);
    --background-event: var(--color-skarlagenflukt);
    --foreground: var(--color-mosemork);
    --primary: var(--color-pyro);
    --primary-foreground: var(--color-flotekos);
    --primary-foreground-hover: var(--color-sort);
    --primary-foreground-active: var(--color-sintild);
    --primary-hover: var(--color-magma);
    --primary-active: var(--color-sintild);
    --secondary: var(--color-mosemork);
    --secondary-foreground: var(--color-flotekos);
    --secondary-hover: var(--color-nattpatrulje);
    --secondary-active: var(--color-skyggejeger);
    --muted: var(--color-skarlagenflukt);
    --muted-foreground: var(--color-mosemork);
    --radius: 0;

    /* IKKE I BRUK PER NÅ */
    --border: var(--color-mosemork);
    --input: #a65959;
    --ring: #ef1616;
    --card: var(--color-flotekos);
    --card-foreground: var(--color-mosemork);
    --popover: var(--color-flotekos);
    --popover-foreground: var(--color-mosemork);
    --accent: #eddee8;
    --accent-foreground: #282424;
    --destructive: #ff0000;
    --destructive-foreground: #ffffff;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  h1 {
    @apply text-5xl md:text-7xl;
    font-family: Impact, sans-serif;
  }

  h1.oversized {
    font-size: 14vw;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    line-height: 1;
    width: 80vw;
    word-wrap: break-word;
    text-align: center;
    white-space: normal;
  }

  h2 {
    @apply text-3xl md:text-5xl;
    font-family: Impact, sans-serif;
  }

  h3 {
    @apply text-2xl md:text-4xl;
    font-family: Impact, sans-serif;
  }

  h4 {
    @apply text-xl md:text-3xl;
    font-family: Impact, sans-serif;
  }

  h5 {
    @apply text-lg md:text-2xl;
    font-family: Impact, sans-serif;
  }

  h6 {
    @apply text-lg;
    font-family: Impact, sans-serif;
  }

  html {
    scroll-behavior: smooth;
  }
}
